<section class="seccion-perfil-usuario">
  <div class="perfil-usuario-header">
      <div class="perfil-usuario-portada">
          <div class="perfil-usuario-avatar">

            <img [src]="cargoPerfil ? 'data:image/jpeg;base64,' + cargoPerfil : '../../../../assets/img/fotonull.png'">

              <!--
                <img src="https://i.pinimg.com/originals/6f/57/76/6f57760966a796644b8cfb0fbc449843.png" alt="img-avatar">
                -->
          </div>
      </div>
  </div>
  <div class="perfil-usuario-body">
      <div class="perfil-usuario-bio">
          <h3 class="titulo"> {{ nombreUsuario }}</h3>
          <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.</p>
              <p class="texto"> {{ nombreRol }}</p>
      </div>
      <div class="perfil-usuario-footer">
          <ul class="lista-datos">
              <li><i class="icono fas fa-map-signs"></i> Número de Cédula</li>
              <li><i class="icono fas fa-phone-alt"></i> Direccion de correo electronico:</li>
              <li><i class="icono fas fa-briefcase"></i> Número de Télefono:</li>
              <li><i class="icono fas fa-building"></i> Número de Emergencia:</li>
              <li><i class="icono fas fa-building"></i> Jornada:</li>
              <li><i class="icono fas fa-building"></i> Cargo:</li>

          </ul>
          <ul class="lista-datos">
              <li><i class="icono fas fa-map-marker-alt"></i> {{ cedulaPerfil }} </li>
              <li><i class="icono fas fa-calendar-alt"></i> {{ correoPerfil }}</li>
              <li><i class="icono fas fa-user-check"></i> {{celularPerfil}}</li>
              <li><i class="icono fas fa-share-alt"></i> {{emergenciaPerfil}}</li>
              <li><i class="icono fas fa-share-alt"></i> {{jornadaPerfil}}</li>
              <li><i class="icono fas fa-share-alt"></i> {{cargoPerfil}}</li>


          </ul>
      </div>
  </div>
</section>