<br>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" align=center>SITE A: Plazas Totales: 20</h5>
          <table class="table">
            
            <tbody>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
              </tr>
              <tr>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
              </tr>
              <tr>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
              </tr>
              <tr>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
              </tr>
            </tbody>
          </table>

          <div class="card mb-3" style="max-width: 540px;" align=center>
            <div class="row g-0"  >
              <div class="col-md-4">
                <br>
            <p align=right > Plazas disponibles</p>
              </div>
              <div class="col-md-8">
                <div class="card-body" >
                    <input type="text" >
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 540px;"  align=center>
            <div class="row g-0">
              <div class="col-md-4">
                <br>
                <p align=right>Plazas utilizadas</p>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <input type="text" >
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="card mb-3" style="max-width: 540px;"  align=center>
            <div class="row g-0">
              <div class="col-md-8">
                <br>
                <a href="#" class="btn btn-primary">Añadir plazas</a>
                <p></p>
              </div>
              <div class="col-md-2">
              <br>
                    <a href="#" class="btn btn-primary">Controlar</a>
                    
              </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </div>




    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" align=center>SITE B: Plazas Totales: 20</h5>
            <table class="table">
              
              <tbody>
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                  <td>9</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>12</td>
                  <td>13</td>
                  <td>14</td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>16</td>
                  <td>17</td>
                  <td>18</td>
                  <td>19</td>
                  <td>20</td>
                </tr>
              </tbody>
            </table>
  
            <div class="card mb-3" style="max-width: 540px;" align=center>
              <div class="row g-0"  >
                <div class="col-md-4">
                  <br>
              <p align=right > Plazas disponibles</p>
                </div>
                <div class="col-md-8">
                  <div class="card-body" >
                      <input type="text" >
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;"  align=center>
              <div class="row g-0">
                <div class="col-md-4">
                  <br>
                  <p align=right>Plazas utilizadas</p>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                      <input type="text" >
                  </div>
                </div>
              </div>
            </div>
            
            
            <div class="card mb-3" style="max-width: 540px;"  align=center>
              <div class="row g-0">
                <div class="col-md-8">
                  <br>
                  <a href="#" class="btn btn-primary">Añadir plazas</a>
                  <p></p>
                </div>
                <div class="col-md-2">
                <br>
                      <a href="#" class="btn btn-primary">Controlar</a>
                      
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
  </div>