<body>
	<div id="wrapper">
		<h1>Listado de Usuarios</h1>


		<div class="buscador mb-3">
			<input class="form-control" type="search" placeholder="Buscar..." [(ngModel)]="buscarTabla">	
			<button id="nuevo" type="button" class="btn btn-light"><a routerLink="/administrador/registro-usuario">Nuevo</a></button>

		</div>

		<table id="keywords" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre Usuario</th>
					<th>Rol</th>
					<th>Estado</th>
					<th>Persona</th>

					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let usuario of usuarios | buscar:buscarTabla | paginate: { itemsPerPage: 4, currentPage: page }">
					<td>{{ usuario.id_usuario}} </td>
					<td>{{ usuario.username}} </td>
					<td>{{ usuario.rol}} </td>
					<td>{{ usuario.estado}} </td>
					<td>{{ usuario.persona.nombre}} </td>

					<td>
						<button class="btn btn-light" (click)="descativar2(usuario.id_usuario) ">Eliminar</button>
					</td>
					<td>
						<button class="btn btn-light">Editar</button>
					</td>
				</tr>
			</tbody>
			<pagination-controls (pageChange)="page = $event" previousLabel="Previous" nextLabel="Next"></pagination-controls>

		</table>
	</div>
</body>
