<body>
	<div id="wrapper">
		<h1>Listado de Bloques</h1>


		<div class="buscador mb-3">
			<input class="form-control" type="search" placeholder="Buscar..." [(ngModel)]="listaBlo">
	
			<button id="nuevo" type="button" class="btn btn-light"><a routerLink="/administrador/registro-bloque">Nuevo</a></button>

		</div>



		<table id="keywords" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>ID Bloque</th>
					<th>Nombre</th>
					<th>Plazas</th>
					<th></th>
					<th></th>
	
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let bloque of bloques | buscar:listaBlo">
					<td>{{ bloque.id_bloque}} </td>
					<td> {{ bloque.nombre}}</td>
					<td>{{ bloque.plazas}} </td>
	
	
					<td>
						<button class="btn btn-light "
							[routerLink]="['/administrador/editar-bloque', bloque.id_bloque]">Editar</button>
					</td>
	
					<td>
						<button (click)="descativar2(bloque.id_bloque)" class="btn btn-light">Eliminar</button>
					</td>
	
				</tr>
			</tbody>
		</table>
	</div>
</body>
