<div ng-app="myApp" ng-controller="tablaController">
	<table>
		<thead>
			<tr>
				<th>ID Bloque</th>
				<th>Nombre</th>
				<th>Nro de Plazas</th>
				<th></th>
				<th></th>
				<th></th>

			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let bloque of bloques">
				<td>{{ bloque.id_bloque}} </td>
				<td> {{ bloque.nombre}}</td>
				<td>{{ bloque.plazas}} </td>
				<td>
					<button class="detalle"
						[routerLink]="['/administrador/editar-bloque', bloque.id_bloque]">Detalles</button>
				</td>

				<td>
					<button class="editar "
						[routerLink]="['/administrador/editar-bloque', bloque.id_bloque]">Editar</button>
				</td>

				<td>
					<button class="eliminar">eliminar</button>
				</td>

			</tr>
		</tbody>
	</table>

</div>