<body>  
<form  ngNativeValidate (ngSubmit)="create()">
<section class="form-register">
    <input class="controls" type="text" (ngModel)="registro.username" name="username" id="username" placeholder="Ingrese su Correo">
    <input class="controls" type="text " (ngModel)="registro.password" name="contraseña" id="contraseña" placeholder="Ingrese su Contraseña">
    <input class="controls" type="text" (ngModel)="registro.instruccion"name="instruccion" id="instruccion" placeholder="instuccion">   
    <select class="controls" id="genero"  name="tipo" (ngModel)="registro.rol">
      <option value="" disabled selected>Selecciona un tipo</option>
      <option value="Guardia">Guardia</option>
      <option value="Profesor">Profesor</option>
      <option value="Estudiante">Estudiante</option>
  </select>
 <input class="botons" type="submit" value="Registrar">
   <!-- <p><a href="/auth/login">¿Ya tengo Cuenta?</a></p>-->
  </section>
</form>
</body>

