

.col-sm-12{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}



.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 25px;
}

.card-title {
    margin-bottom: 25px;
}



.btn-primary {
  color: #fff;
  background-color: #095889;
  border-color: #7267EF;
}

.btn-primary:hover {
  color: #fff;
  background-color: #5f92c4;
  border-color: #4739ea;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #5244eb;
  border-color: #4739ea;
  box-shadow: 0 0 0 0.2rem rgba(135, 126, 241, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #7267EF;
  border-color: #7267EF;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #4739ea;
  border-color: #3c2de9;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(135, 126, 241, 0.5);
}

