<div class="wrapper">

    <div class="col-sm-12 col-md-4">
        <h5 class="title">Asignar Credenciales</h5>
        <hr>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Seleccionar la persona:</h5>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i data-feather="mail"></i></span>
                    </div>
                    <input type="email" class="form-control" placeholder="Ingresar Cedula">
                </div>

                <a href="#!" class="btn  btn-primary">Buscar Persona</a>
                <a href="/auth/register-user" class="btn  btn-primary">Nueva Persona</a>

            </div>
        </div>
    </div>

</div>