<div class="wrapper">

    <div class="col-sm-12 col-md-4">
        <h5 class="title">Asignar Credenciales</h5>
        <hr>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Seleccionar la persona:</h5>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i data-feather="mail"></i></span>
                    </div>

                    <select style="background-color: rgb(225, 225, 225);">
                        <option selected style="color: aliceblue;">Selecciona la persona</option>
                        <option *ngFor="let persona of personaLista" [value]="persona.nombre">{{ persona.nombre }}
                        </option>
                    </select>
                </div>

                <a href="/auth/register-personas" class="btn  btn-primary">Crear Persona</a>
                <a href="/auth/register-user" class="btn  btn-primary">Asignar Credencial</a>

            </div>
        </div>
    </div>

</div>