<div class="page-header">
  <div class="page-block">
      <div class="row align-items-center">
          <div class="col-md-6">
              <div class="page-header-title">
                  <h5 class="m-b-10">Home</h5>
              </div>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/home/dashboard">Inicio</a></li>
              </ul>
          </div>
          <div class="col-md-6 text-right">
            <a href="/" class="btn btn-sm btn-primary m-r-5">Cerrar Sesion</a>
            <a href="administrador/profile" class="btn btn-sm btn-outline-primary">Perfil</a>
          </div>
      </div>
  </div>
</div>

<header class="pc-header">
  <div class="header-wrapper">
    <div class="mr-auto pc-mob-drp">
      <ul class="list-unstyled">
      </ul>
    </div>
    <div class="ml-auto">
      <ul class="list-unstyled">
        <li class="dropdown pc-h-item">
          <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="/administrador/profile" role="button" aria-haspopup="false" aria-expanded="false">
            <img src="https://i.pinimg.com/originals/6f/57/76/6f57760966a796644b8cfb0fbc449843.png" alt="user-image" class="user-avtar">
            <span>
              <span class="user-name">{{ nombreUsuario }}</span>
              <span class="user-desc">{{ nombreRol }}</span>
            </span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</header>