   .cosas {

      text-align: center;
      color:black;
      font-size: 28px;
  
  
  }
  
  .btn{
      border: 1px solid darkblue;
  background-color: rgb(88, 129, 200);
  }
  
  
      
  
  
  .suples{
      width: 1150px;
      height: 500px;
      margin: -550px auto;
      justify-content: center;
      display: flex;
  
  }
  /* 
    .box{
      border: 1px solid darkblue;
      width: 1150px;
      height: 500px;
      margin: -550px auto;
      justify-content: center;
      display: flex;
    } */
    .box{
      border: 1px solid darkblue;
    }
    .card {
      border: 1px solid darkblue;
  margin: auto;    
      width: 800px;
      height: 550px;
  
      justify-content: start;
  }
  
   
  button{
  align-content: center;
  margin: -100px auto;
      /* padding: 1%; */
  }
  
  
      .btnneon {
         position : relative ;
         display : inline-block ;
         padding : 15px 30px ;
         color : rgb(14, 14, 14) ;
         letter-spacing : 4px ;
          font-size : 15px ;
         text-decoration : wavy ;
         overflow : hidden ;
      }
       
      
      
      .btnneon:hover {
                 background : #4166cc ;
         box-shadow : 0 0 10px #4545c7, 0 0 40px
         #454cc76e, 0 0 80px #4545c7 ;
      }