<body>
    <section class="inicio" id="inicio">
        <div class="content">
  <h3>Parking Cam </h3>
  <h5>Sistema ISTA</h5>
            <P>
                En el presente proyecto se desarrolló 
                un prototipo de parqueadero inteligente empleando redes de sensores inalámbricos. La cantidad 
                de vehículos que actualmente existe en las 
                grandes urbes requiere de nuevos métodos para la gestión de la movilidad, tanto en el control 
            </P>
            <a href="/auth/login" class="btn btn-primary">Iniciar Sesión</a>
            <a href="/auth/register-end" class="btn btn-primary">Registrarse</a>
        </div>
        <div>
            <div class="image">
                <img src="https://eduv.tecazuay.edu.ec/pluginfile.php/1/theme_academi/logo/1671035251/LOGO%20CUADRADO_SIN%20FONDO.png" alt="">
            </div>
        </div>
    </section>
</body> 

  