.auth-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100%;
  min-height: 100vh;
  background: #114a6d;
}

@media (min-width: 1200px) {
  .auth-wrapper .container {
      max-width: 1140px;
  }
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .auth-wrapper {
      display: block;
      margin: 0 auto;
  }

  .auth-wrapper > .row {
      min-height: 100vh;
  }

  .auth-wrapper > .row > .aut-bg-img {
      min-height: 100vh;
  }
}

.auth-wrapper .saprator {
  position: relative;
  margin: 8px 0;
}

.auth-wrapper .saprator span {
  background: #fff;
  position: relative;
  padding: 0 10px;
  z-index: 5;
  font-size: 20px;
}

.auth-wrapper .saprator:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #f1f1f1;
  z-index: 1;
}

.auth-wrapper a,
.auth-wrapper p > a {
  color: #1c232f;
  font-weight: 600;
}

.auth-wrapper .input-group {
  background: transparent;
  width: 150%;
}

.auth-wrapper .card {
  margin-bottom: 0;
  padding: 8px;
}

.auth-wrapper .card .card-body {
  padding: 20px 25px 20px 40px;
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .auth-wrapper .card {
      display: block;
  }
}

.auth-wrapper > div {
  z-index: 5;
}

.auth-wrapper .auth-content {
  position: relative;
  padding: 15px;
  z-index: 5;
}

.auth-wrapper .auth-content:not(.container) {
  width: 400px;
}

.auth-wrapper .auth-content:not(.container) .card-body {
  padding: 40px 35px;
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .auth-wrapper .auth-content {
      margin: 0 auto;
  }
}

.auth-wrapper.auth-v3 {
  background: linear-gradient(to right, #7267EF 50%, #fff 0);
}

.auth-wrapper.auth-v3 .auth-content {
  width: 800px;
}

.auth-wrapper.auth-v3 .auth-content .card {
  overflow: hidden;
  padding: 0;
  box-shadow: 0 5px 30px 1px rgba(0, 0, 0, 0.1);
}

.auth-wrapper.auth-v3 .auth-content .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.auth-wrapper.auth-v3 .auth-content .img-card-side {
  position: relative;
  padding: 0;
}

.auth-wrapper.auth-v3 .auth-content .img-card-side .img-card-side-content {
  position: absolute;
  top: 30px;
  left: 45px;
}

.auth-wrapper.auth-v3.lockscreen .auth-content {
  width: 340px;
}

.auth-wrapper.auth-v3.lockscreen .auth-content .card {
  overflow: visible;
}

.auth-wrapper.auth-v3.lockscreen .auth-content .card-body img {
  margin-top: -100px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 30px 1px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 767px) {
  .auth-wrapper.auth-v3 .img-card-side {
      display: none;
  }
}

.auth-wrapper .auth-side-img {
  padding-right: 400px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
}

@media only screen and (max-width: 991px) {
  .auth-wrapper .auth-side-img {
      display: none;
  }
}

.auth-wrapper .auth-side-form {
  position: relative;
  min-height: 100%;
  background: #fff;
  display: inline-flex;
  align-items: center;
  left: auto;
  float: right;
}

.auth-wrapper .auth-side-form > * {
  position: relative;
  z-index: 5;
}

@media only screen and (max-width: 991px) {
  .auth-wrapper .auth-side-form {
      width: 100%;
      justify-content: center;
  }

  .auth-wrapper .auth-side-form .auth-content:not(.container) {
      max-width: 350px;
  }
}

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .auth-wrapper.aut-bg-img .auth-side-form {
      height: 100vh;
  }
}

@media only screen and (max-width: 767px) {
  .auth-wrapper .card .card-body {
      padding: 30px 15px;
  }
}

.auth-wrapper.offline {
  background-image: none;
}

.auth-wrapper.offline h1 {
  font-size: 87px;
  font-weight: 700;
}

.auth-wrapper.offline:before {
  display: none;
}

.auth-wrapper .card-body .carousel-indicators {
  margin: 15px 0 10px;
  bottom: 0;
}

.auth-wrapper .card-body .carousel-indicators li {
  width: 50px;
  background-color: rgba(114, 103, 239, 0.4);
  border-radius: 5px;
  height: 4px;
}

.auth-wrapper .card-body .carousel-indicators li.active {
  background-color: #7267EF;
}

.auth-wrapper .img-logo-overlay {
  position: absolute;
  top: 40px;
  left: 50px;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}

.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(4px - 0px);
  border-top-right-radius: calc(4px - 0px);
}

.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(4px - 0px);
  border-bottom-left-radius: calc(4px - 0px);
}

.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 25px;
}

.card-title {
  margin-bottom: 25px;
}

.card-subtitle {
  margin-top: -12.5px;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 25px;
}

.card-header {
  padding: 25px 25px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(4px - 0px) calc(4px - 0px) 0 0;
}

.card-footer {
  padding: 25px 25px;
  background-color: rgba(0, 0, 0, 0);
  border-top: 0px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(4px - 0px) calc(4px - 0px);
}

.card-header-tabs {
  margin-right: -12.5px;
  margin-bottom: -25px;
  margin-left: -12.5px;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -12.5px;
  margin-left: -12.5px;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  border-radius: calc(4px - 0px);
}

.card-img,
.card-img-top,
.card-img-bottom {
  flex-shrink: 0;
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(4px - 0px);
  border-top-right-radius: calc(4px - 0px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(4px - 0px);
  border-bottom-left-radius: calc(4px - 0px);
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
      display: flex;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
  }

  .card-deck .card {
      flex: 1 0 0%;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
  }
}

.card-group > .card {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group {
      display: flex;
      flex-flow: row wrap;
  }

  .card-group > .card {
      flex: 1 0 0%;
      margin-bottom: 0;
  }

  .card-group > .card + .card {
      margin-left: 0;
      border-left: 0;
  }

  .card-group > .card:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }

  .card-group > .card:not(:last-child) .card-img-top,
      .card-group > .card:not(:last-child) .card-header {
      border-top-right-radius: 0;
  }

  .card-group > .card:not(:last-child) .card-img-bottom,
      .card-group > .card:not(:last-child) .card-footer {
      border-bottom-right-radius: 0;
  }

  .card-group > .card:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }

  .card-group > .card:not(:first-child) .card-img-top,
      .card-group > .card:not(:first-child) .card-header {
      border-top-left-radius: 0;
  }

  .card-group > .card:not(:first-child) .card-img-bottom,
      .card-group > .card:not(:first-child) .card-footer {
      border-bottom-left-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 25px;
}

@media (min-width: 576px) {
  .card-columns {
      -moz-column-count: 3;
      column-count: 3;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
  }

  .card-columns .card {
      display: inline-block;
      width: 100%;
  }
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}


.input-group-prepend,
.input-group-append {
    display: flex;
}

.input-group-prepend .btn,
  .input-group-append .btn {
    position: relative;
    z-index: 2;
}


.input-group-prepend .btn:focus,
    .input-group-append .btn:focus {
    z-index: 3;
}

.input-group-prepend .btn + .btn,
  .input-group-prepend .btn + .input-group-text,
  .input-group-prepend .input-group-text + .input-group-text,
  .input-group-prepend .input-group-text + .btn,
  .input-group-append .btn + .btn,
  .input-group-append .btn + .input-group-text,
  .input-group-append .input-group-text + .input-group-text,
  .input-group-append .input-group-text + .btn {
    margin-left: -1.5px;
}

.input-group-prepend {
    margin-right: -1.5px;
}

.was-validated .form-control:valid, .form-control.is-valid {
  border-color: #17C666;
  padding-right: calc(1.5em + 1.15rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2317C666' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.2875rem) center;
  background-size: calc(0.75em + 0.575rem) calc(0.75em + 0.575rem);
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
  border-color: #17C666;
  box-shadow: 0 0 0 0.2rem rgba(23, 198, 102, 0.25);
}

.was-validated textarea.form-control:valid, textarea.form-control.is-valid {
  padding-right: calc(1.5em + 1.15rem);
  background-position: top calc(0.375em + 0.2875rem) right calc(0.375em + 0.2875rem);
}

.btn-primary {
  color: #fff;
  background-color: #81b9db;
  border-color: #7267EF;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0a58a5;
  border-color: #4739ea;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #5244eb;
  border-color: #4739ea;
  box-shadow: 0 0 0 0.2rem rgba(135, 126, 241, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #7267EF;
  border-color: #7267EF;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #4739ea;
  border-color: #3c2de9;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(135, 126, 241, 0.5);
}