<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div class="col-md-12">


					<div class="card-body">
						<img src="https://scontent.fgye1-1.fna.fbcdn.net/v/t39.30808-6/335284924_726416265892966_3105306101120880583_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=NsXxe82Dp_wAX-qTD5j&_nc_ht=scontent.fgye1-1.fna&oh=00_AfAC6pHd_4hKZCBESOEEsHLslby6gBJpViJuLufAt35v_Q&oe=64105A7F"
							alt="" class="img-fluid mb-4">
						<h4 class="mb-3 f-w-400">Iniciar Sesión</h4>

						<form (ngSubmit)="onLogin()">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i data-feather="mail"></i></span>
								</div>
								<input type="text" class="input-group-text" placeholder="Cédula"  onkeypress="return event.charCode >= 48 && event.charCode <= 57"  maxlength="10" #myInput minlength="10" (input)="onInputChange($event)" (keydown)="onKeyDown($event)" id="cedula"
									name="cedula" [(ngModel)]="dataUser.cedula" required>
							</div>
							<div class="input-group mb-4">
								<div class="input-group-prepend">
									<span class="input-group-text"><i data-feather="lock"></i></span>
								</div>
								<input type="password" class="input-group-text" placeholder="Contraseña" id="password" maxlength="6" #myInput minlength="6" (input)="InputChange($event)" (keydown)="onKeyDown($event)"
									name="password" [(ngModel)]="dataUser.password" required>
							</div>

							<input type="submit" class="btn btn-primary" value="Login">
						</form>
						<div class="form-group text-left mt-2">
						</div>
						<p class="mb-0 text-muted"><a href="/auth/reset-password"
								class="f-w-400">¿Olvidaste tu contraseña?</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>