
h1 {
  text-align: center;
  font-size: 35px;
  text-shadow: 1px 1px 1px #fff;
  align-self: center;
}

.card-container {
  display: grid;
  gap: 32px;
  padding: 56px;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  background: #fff;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
  

  h3 {
    font-size: 24px;
    margin-top: 5px;
    font-family: 'Chango';
  }

  &:hover {
    box-shadow: 0 6px 20px rgba(0, 49, 247, 0.55);
    color: #666565;
    opacity: 1;
  }
}
