<!-- <div class="card-body">
new
</div> -->


<h1>Administración</h1>
<!--  -->
 <div class="card-container">

  <div class="card translate" *ngFor="let data of datosEstadiscos | keyvalue">
    <div class="card-header">
		<h3>{{data.key}}</h3>
	  </div>
    <p>Datos {{data.value }}</p>
  </div>

</div>


<body>
	<div id="contenedorli">
		<h1>Listado de Registros</h1>

		<div class="buscador mb-3">
			<input class="form-control" type="search" placeholder="Buscar..." [(ngModel)]="buscarTabla">

		</div>
		<table id="keywords" cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>Nro Registro</th>
					<th>Fecha</th>
					<th>Hora Entrada</th>
					<th>Hora Salida</th>
					<th>Placa</th>
					<th>Propietario</th>
					<th>Bloque</th>
					<th>Observaciones</th>
					<th></th>

				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let registro of registros | buscar:buscarTabla | paginate: { itemsPerPage: 4, currentPage: page }">
					<td>{{ registro.id_registro}} </td>
					<td>{{ registro.fecha}} </td>
					<td>{{ registro.hora_entrada}} </td>
					<td>{{ registro.hora_salida}} </td>
					<td>{{ registro.vehiculo.placa}} </td>
					<td>{{ registro.vehiculo.persona.nombre}} </td>
					<td>{{ registro.bloque.nombre}} </td>

					<td>{{ registro.observaciones}} </td>

					<td>
						<button class="btn btn-light"
							[routerLink]="['/administrador/detalle-registros', registro.id_registro]">Detalles</button>
					</td>
				</tr>
			</tbody>
			<pagination-controls (pageChange)="page = $event"></pagination-controls>
		</table>
	</div>
</body> 



<div class="card-footer">
	<footer class="bg-light text-center text-lg-start">
		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		  © 2023 Copyright:
		  <a class="text-dark" href="https://mdbootstrap.com/">ParkingCam</a>
		</div>
		<!-- Copyright -->
	  </footer>
</div>