<div class="card">
    <br>
    <br>
    <div align="center"><img src="https://eduv.tecazuay.edu.ec/pluginfile.php/1/theme_academi/logo/1671035251/LOGO%20CUADRADO_SIN%20FONDO.png" height="200">
    </div>
    <div class="card-body">
        <br>
      <h5 class="card-title" align="center">Options</h5>

      <div class="card mb-3" style="max-width: 1340px;"  align=center>
        <div class="row g-0">
          <div class="col-md-4">
            <br>
            <a href="/administrador/lista-personas" class="btn btn-primary">Listar personas</a>
            <p></p>
          </div>
          <div class="col-md-4">
          <br>
                <a href="/administrador/lista-vehiculos" class="btn btn-primary">Listar vehiculos</a> 
          </div>
          <div class="col-md-4">
            <br>
                  <a href="#" class="btn btn-primary">Listar usuarios</a> 
            </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 1340px;"  align=center>
        <div class="row g-0">
          <div class="col-md-15">
            <br>
            <a href="#" class="btn btn-primary">Reportes</a>
            <p></p>
          
        </div>
      </div>
    </div>
</div>
<div class="card-footer">
    <footer align=center>
    <p >@ParkingCam</p>
    <p><b>TEC. AZUAY INSTITUTO UNIVERSITARIO</b></p>
  </footer>
</div>
