<BOdy>
    <div class="container w-90 bg-primarry mt-5 rounnded shadow">
      <div class="row" style="background-color: black;">
          <div class="col bg">
              <h2 class="fw-bold text-center py-5"> Bienvenidos</h2>
              <img src="https://eduv.tecazuay.edu.ec/pluginfile.php/1/theme_academi/logo/1671035251/LOGO%20CUADRADO_SIN%20FONDO.png" alt=""
              width="300em" alt="">
          </div>
          <div class="col">
              <div class="text-end">
                <img src="https://eduv.tecazuay.edu.ec/pluginfile.php/1/theme_academi/logo/1671035251/LOGO%20CUADRADO_SIN%20FONDO.png" alt=""
                      width="48" alt="">
              </div>
              <h2 class="fw-bold text-center py-5"> PARKING CAM </h2>

              <!--login-->
              <form action="#">
                  <div class="mb-4">
                      <label for="email" class="form-label "> Coreo electronico </label>
                      <input type="email" class="form-control" name="email">-
                  </div>
                  <div class="mb-4">
                      <label for="contraseña" class="form-label "> contraseña </label>
                      <input type="password" class="form-control" name="password">
                  </div>
                  <div class="mb-4">
                      <input type="checkbox" name="connected" class="form-check-input">
                      <label for="connected" class="form-check-label">mantenerme conectado</label>
                  </div>
                  <div class="d-grid">
                      <button type="submit"  class="btn btn-primary"> Iniciar Sesión </button>
                  </div>
                  <div class="d-my-3">
                      <span> No tienes cuenta? <a href="/regusu">Registrarte </a></span>
                   </div>
              </form>
          </div>
      </div>
  </div>
</BOdy>