<app-pag_prin_bienvenida></app-pag_prin_bienvenida>
<body>
  <div class="div-titulo">
      <h1>CRUD </h1>
  </div>
  
  <div class="contenedor">

      <div class="div-formulario">
          <h2>Formulario</h2>

          <form action="#" id="formulario">
              <input type="text" id="nombre" placeholder="Ingresa un nombre">
              <input type="text" id="apellido  " placeholder="Ingrese su apellido">
              <input type="text" id="cedula " placeholder="Ingrese su cedula">
              <input type="text" id="correo" placeholder="Ingrese su correo">
              <select>
                <option selected="selected">Seleccione el tipo </option>
                <option >Betis</option>
                <option>FC. Barcelona</option>
                <option>Real Madrid</option>
                <option>Zaragoza</option>
              </select>
              <button type="submit" id="btnAgregar">Agregar</button>
          </form>
      </div>

      <div class="div-listado">
          <h2>Listado Empleados</h2>
          <div class="div-empleados">
              
          </div>
      </div>

  </div>
  <script src="./app.js"></script>
</body>