* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(rgb(80, 170, 255), rgb(94, 230, 105));

}

.div-titulo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-titulo h1 {
    font-weight: 300;
}

.contenedor {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
}

/* ESTILOS FORMULARIO */
.contenedor .div-formulario {
    width: 40%;
    height: 400px;
    margin: 15px 15px;
    background-color: rgb(148, 156, 131);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.contenedor .div-formulario h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}

.contenedor .div-formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor .div-formulario form input,
.contenedor .div-formulario form button {
    width: 60%;
    padding: 10px 10px;
    margin: 10px 10px;
}

.btnAgregar {
    background-color: rgb(rgb(14, 67, 165));
}

/* ESTILOS LISTADO */
.contenedor .div-listado {
    width: 55%;
    height: calc(100% - 150px);
    margin: 15px 15px;
    background-color: rgb(22, 38, 53);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.contenedor .div-listado h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}

.contenedor .div-listado .div-per {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0 30px;
}

.contenedor .div-listado .div-per p {
    margin: 10px 0;
    font-size: 1em;
    color: #ddd;
}

hr {
    width: 100%;
    height: 1px;
}

.btn {
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    border-radius: 50px;
}

.btn-editar {
    background-color: green;
}

.btn-eliminar {
    background-color: red;
}


.table {
 
    font-size: .89em;
    color: #f3d9d9;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto; 
}
    .table td, .table-rwd th {
      padding: .8em;
      border-bottom: 1px solid rgba(181, 213, 144, 0.5); }
    .table th {
      background: #1A8CFF;
      color: #fff;
      font-weight: normal;
      text-align: center; }
    .table td {
      text-align: center; }
      .table td:before {
        color: #1A8CFF; }
       .table td:first-of-type {
        text-align: left; }
        .table td:first-of-type:before {
          content: ""; }
        .table td:first-of-type:after {
          content: ""; }
    .table tr:hover {
      background: rgba(92, 77, 77, 0.2); }
    .table tr td:nth-child(2n) {
      background: rgba(181, 213, 144, 0.2); }
  
  .table {  
    overflow-x: auto;
 }  
  .table {
    display: block;
    overflow-y: 105px;
    height: 350px;
    min-width:155px;
}
    .table tr:hover td:first-child {
      background: #1A8CFF;
    } 