<div ng-app="myApp" ng-controller="tablaController">
	<table>
		<thead>
			<tr>
				<th>Placa</th>
				<th>Marca</th>
				<th>Modelo</th>
				<th>Color</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let vehiculo of vehiculos">
				<td>{{ vehiculo.placa}} </td>
				<td>{{ vehiculo.marca}} </td>
				<td>{{ vehiculo.modelo}} </td>
				<td>{{ vehiculo.color}} </td>
				<td>
					<button class="btn btn-warning" [routerLink] = "['/administrador/detalle-vehiculos', vehiculo.id_vehiculo]">Detalles</button> 
				</td>		
				<td>
					<button class="btn btn-warning" [routerLink] = "['/administrador/editar-vehiculo', vehiculo.id_vehiculo]">Editar</button> 
				</td>		

			</tr>
		</tbody>
	</table>
</div>