<div ng-app="myApp" ng-controller="tablaController">
	<table>
		<thead>
			<tr>
				<th>Cedula</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
				<th>Celular</th>
				<th>N Emergencia</th>
				<th>Carrera</th>
				<th>Jornada</th>
				<th>Cargo</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let persona of personas">
				<td>{{ persona.cedula}} </td>
				<td>{{ persona.nombre}} </td>
				<td>{{ persona.apellido}} </td>
				<td>{{ persona.correo}} </td>
				<td>{{ persona.celular}} </td>
				<td>{{ persona.n_emergencia}} </td>
				<td>{{ persona.carrera}} </td>
				<td>{{ persona.jornada}} </td>
				<td>{{ persona.cargo}} </td>
				
			</tr>
		</tbody>
	</table>

</div>

