<div ng-app="myApp" ng-controller="tablaController">
	<table>
		<thead>
			<tr>
				<th>Cedulla</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
				<th>Celular</th>
				<th>N_emergencia</th>
				<th>Carrera</th>
				<th>Jornada</th>
				<th>Cargo</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let perso of perso">
				<td>{{ perso.cedula }}</td>
				<td>{{ perso.nombre }}</td>
				<td>{{ perso.apellido }}</td>
				<td>{{ perso.correo }}</td>
				<td>{{ perso.celular }}</td>
				<td>{{ perso.n_emergencia }}</td>
				<td>{{ perso.carrera  }}</td>
				<td>{{ perso.jornada  }}</td>
				<td>{{ perso.cargo  }}</td>
			
		<td>		<button class="editar" class="btn btn-primary" data-bs-toggle="modal"
						data-bs-target="#exampleModal">Editar</button>
					<button class="eliminar">Eliminar</button>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>

</div>

