<div ng-app="myApp" ng-controller="tablaController" >
	<div class="form-group row">
		<label for="" class="col-form-label col-sm-2">Buscar:</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" name="codigo" 
				placeholder="codigo" (ngModel)="buscar" maxlength="10" required />
		</div>
	</div>
	<table>
		<thead>
			<tr>
				<th>Cedula</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
				<th>Celular</th>
				<th>N Emergencia</th>
				<th>Carrera</th>
				<th>Jornada</th>
				<th>Cargo</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let persona of personas | search:buscar "> 
				<td>{{ persona.cedula}} </td>
				<td>{{ persona.nombre}} </td>
				<td>{{ persona.apellido}} </td>
				<td>{{ persona.correo}} </td>
				<td>{{ persona.celular}} </td>
				<td>{{ persona.n_emergencia}} </td>
				<td>{{ persona.carrera}} </td>
				<td>{{ persona.jornada}} </td>
				<td>{{ persona.cargo}} </td>
				<td>
					<button class="btn btn-warning" [routerLink] = "['/administrador/detalle-personas', persona.id_persona]">Detalles</button> 
				</td>

				<td>
					<button class="btn btn-warning" [routerLink] = "['/administrador/editar-persona']">Editar</button> 
				</td>

				<td>
					<button class="btn btn-danger" (click)="eliminar(persona.id_persona) " >Detalles</button> 
				</td>
				
			</tr>
		</tbody>
	</table>

	
	</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  ...
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Save changes</button>
		</div>
	  </div>
	</div>
  </div>