<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div id="home" class="page-wrap d-flex flex-row align-items-center">
    <div class="container ">
    	<div id="wrapper" class="row  rounded mb-3" style="box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);">
    		<div class="col-md-3 mt-4">
    		    <img class="ml-4" src="https://scontent.fgye1-1.fna.fbcdn.net/v/t39.30808-6/335284924_726416265892966_3105306101120880583_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=NsXxe82Dp_wAX-qTD5j&_nc_ht=scontent.fgye1-1.fna&oh=00_AfAC6pHd_4hKZCBESOEEsHLslby6gBJpViJuLufAt35v_Q&oe=64105A7F"
							  width="150px" height="150px" alt="" />
    		</div>
    		<div class="col-md-9 mt-4">
    		    <h2 class="font-weight-light">¿Olvidaste tu contraseña?</h2>
    		    Enseguida te ayudaremos, solamente escribe tu Número de Cédula y procederemos a verificar tu identidad para que puedas actualizar tu clave de acceso al sistema
    		    <form id="formulario"  action="https://www.totoprayogo.com" class="mt-3">
    		        <input [disabled]="statusActive" class="form-control form-control-lg" type="text" id="cedula" name="cedula" [(ngModel)]="cedula.cedulap" placeholder="Ingrese su cedula"  onkeypress="return event.charCode >= 48 && event.charCode <= 57"  maxlength="10" #myInput minlength="10" (input)="onInputChange($event)" (keydown)="onKeyDown($event)"/>
    		        
					<input *ngIf="statusActive" class="form-control form-control-lg mt-4" type="password" id="pass1" name="pass1" [(ngModel)]="password.password1" placeholder="Ingrese contraseña" maxlength="6" #myInput minlength="6" (input)="InputChange($event)" (keydown)="onKeyDown($event)"/>
    		        <input *ngIf="statusActive" class="form-control form-control-lg mt-2" type="password" id="pass2" name="pass2" [(ngModel)]="password.password2" placeholder="Repita la contraseña" maxlength="6" #myInput minlength="6" (input)="InputChange($event)" (keydown)="onKeyDown($event)"/>
    		        <div class="text-right my-3">
						<button type="submit" class="btn btn-lg btn-warning" (click)="routerNavigateLogin()">
							Cancelar
						</button>
						<button type="submit" class="btn btn-lg btn-success ml-2" (click)="butttonOption()">
							{{ statusActive ? 'Actualizar' : 'Verificar' }}
						</button>
						
						  
    		        </div>
    		    </form>
    		</div>
            

    	</div>
    </div>
</div>