body {
    background: #eee;
}
.page-wrap {
    min-height: 100vh;
}
.container {
    max-width: 900px;
}

#home{
    background: #114a6d;

}
#formulario, #wrapper{
    background: #ffff;

}
input.invalid {
    border: 2px solid red;
    background-color: #ffeeee;
    color: #ff0000;
  }