
    <div class="container w-75 bg-primarry mt-5 rounnded shadow">
        <div class="row">
            <div class="col bg">
            </div>
            <div class="col">
                <div class="text-end">
                    <img src="https://www.metroecuador.com.ec/resizer/538u0DN2Zi_b54kX4F5c6kmMkxI=/1440x1080/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/metroworldnews/RJJVRZUQ6ZAQ3LNBWRGRZOHRFI.jpg"
                        width="48" alt="">
                </div>
                <h2 class="fw-bold text-center py-5"> Bienvenidos</h2>
                <!--login-->
                <form action="#">
                    <div class="mb-4">
                        <label for="email" class="form-label "> Coreo electronico </label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    <div class="mb-4">
                        <label for="contraseña" class="form-label "> contraseña </label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="mb-4">
                        <input type="checkbox" name="connected" class="form-check-input">
                        <label for="connected" class="form-check-label">mantenerme conectado</label>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary"> Iniciar Sesión </button>
                    </div>
                    <div class="d-my-3">
                        <span> No tienes cuenta? <a href="m">Registrarte </a></span>
                        <span><a href="#"></a></span>
                    </div>

                </form>

            </div>

        </div>

    </div>