<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Detalles del Registro</h2>
        <p class="lead">Datos Personales</p>
      </div>
  
      <p>Nombre y Apellido: {{ persona.nombre}} {{persona.apellido}} </p>
      <p>Cedula: {{ persona.cedula}} </p>
      <p>Cargo: {{ persona.cargo}} </p>
      <p>Celular: {{ persona.celular}} </p>
      <p>Contacto de Emergencia: {{ persona.n_emergencia}} </p>
      <p>Jornada: {{ persona.jornada}} </p>
      <p>Carrera: {{ persona.carrera}} </p>
  

      <div class="justify-content-center">
        <button class="btn btn-default mt-5" routerLink="/administrador/lista-personas">&laquo;Volver</button>
    </div>

    </div>
  </div>