<div class="container mt-5 text-center">
    <div class="row justify-content-center">
        <div class="col-md-4">

            <div class="card">
                <div class="card-header"><h5>Detalles de la Persona</h5></div>
                <div class="card-body">
                    <p>{{ persona.nombre}} {{persona.apellido}} </p>
                    <p>{{ persona.cargo}} </p>
                    <p>ASD {{ persona.jornada}} </p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="justify-content-center">
        <button class="btn btn-default mt-5" routerLink="/administrador/lista-personas">&laquo;Volver</button>
    </div>
</div>