.auth-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100%;
  min-height: 100vh;
  background: #ffffff;
}


.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.input-group-prepend {
  margin-right: -1.5px;
  margin-left: -1.5px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.input-group-prepend,
.input-group-append {
    display: flex;
}

.input-group-prepend .btn,
  .input-group-append .btn {
    position: relative;
    z-index: 2;
}


.input-group-prepend .btn:focus,
    .input-group-append .btn:focus {
    z-index: 3;
}

.input-group-prepend .btn + .btn,
  .input-group-prepend .btn + .input-group-text,
  .input-group-prepend .input-group-text + .input-group-text,
  .input-group-prepend .input-group-text + .btn,
  .input-group-append .btn + .btn,
  .input-group-append .btn + .input-group-text,
  .input-group-append .input-group-text + .input-group-text,
  .input-group-append .input-group-text + .btn {
    margin-left: -1.5px;
}

.input-group-prepend {
    margin-right: -1.5px;
}
.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}

.f-w-400 {
  font-weight: 400;
}


.btn-primary {
  color: #ffffff;
  background-color: #1a46a3;
  border-color: #ffffff;
  
}

.btn-primary:hover {
  color: #fff;
  background-color: #0a58a5;
  border-color: #1a46a3;
}


.card{
  transform: translate(-5%, -15%);
  
}
#boton{
  color: #fafafa;
  align: right;
}

#logo{

  height: 250px;
  width: 250px;
}