<div id="sidebar" class="flex-shrink-0 p-3 bg-white" style="width: 250px;">
  <a href="/home/dashboard" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <img id="logo" src="https://scontent.fgye1-1.fna.fbcdn.net/v/t39.30808-6/335284924_726416265892966_3105306101120880583_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=NsXxe82Dp_wAX-qTD5j&_nc_ht=scontent.fgye1-1.fna&oh=00_AfAC6pHd_4hKZCBESOEEsHLslby6gBJpViJuLufAt35v_Q&oe=64105A7F"> 
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1 mt-5">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
        Inicio
      </button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="home/dashboard" class="link-dark d-inline-flex text-decoration-none rounded">Principal</a></li>

        </ul>
      </div>
    </li>

    <li class="border-top my-3"></li>


    <li class="mb-1 mt-3">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        Administrador
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="administrador/lista-personas" class="link-dark d-inline-flex text-decoration-none rounded">Persona</a></li>
          <li><a href="administrador/lista-vehiculos" class="link-dark d-inline-flex text-decoration-none rounded">Vehiculo</a></li>
          <li><a href="administrador/lista-bloques" class="link-dark d-inline-flex text-decoration-none rounded">Bloque</a></li>
          <li><a href="administrador/lista-usuarios" class="link-dark d-inline-flex text-decoration-none rounded">Usuario</a></li>
        </ul>
      </div>
    </li>

    <li class="border-top my-3"></li>

    <li class="mb-1 mt-3">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Control de Registros
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="administrador/lista-registros" class="link-dark d-inline-flex text-decoration-none rounded">Listado Registros</a></li>

        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Cuenta
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="administrador/profile" class="link-dark d-inline-flex text-decoration-none rounded">Perfil</a></li>
          <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Cerrar Sesión</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>

  </ul>
</div>
